@page "/counter"

@using Microsoft.EntityFrameworkCore
@using SpotifyAnalysis.Data
@using SpotifyAnalysis.Data.DTO
@using SpotifyAnalysis.Data.DataAccessLayer
@using SpotifyAnalysis.Data.SpotifyAPI
@using SpotifyAPI.Web
@using System.Threading
@using MudBlazor

@inject Spotify spotify;
@inject SpotifyModule spotifyModule;
@inject SpotifyContext spotifyContext;

<p>
    <label for="userId">User ID:</label>
    <input id="userId" size="30" @bind="userID" />
    <button class="btn btn-primary" @onclick="GetData">Get data</button>
    <button class="btn btn-primary" @onclick="GetPlaylists">Get playlists</button>
    <button class="btn btn-primary" disabled="@(!areAnyPlaylistsSelected)" @onclick="GenerateCharts">Generate charts</button>
</p>

@if (loadValue > 0) {
    <MudProgressLinear Color="Color.Primary" Value="@loadValue" />
    <div>@loadMessage</div>
}

@if (userDTO is not null) {
    <PlaylistList @ref="playlistList" Playlists="userDTO.Playlists.ToList()" MultiSelect="true" SelectionChanged="UpdateGenerateButton"></PlaylistList>
}
<p>
    @if (artistsSongs != null) {
        <PieChart Title="Artists" Elements="artistsSongs" OnClickCallback="SelectArtist" />
        <ArtistPane Artist="@selectedArtist"></ArtistPane>
    }
    @if (genreSongs != null) {
        <PieChart Title="Genres" Elements="genreSongs" />
    }
    @if (genres != null) {
        <PieChart Title="Genres general" Elements="genres" />
    }
</p>


@code {
    private PlaylistList playlistList;

    private string userID = "11ek5k7fhea9otrb7k2ecizzb";
    private Elements artistsSongs;
    private Elements genreSongs;
    private Elements genres;

    private FullArtist selectedArtist;
    private UserDTO userDTO;

    private ushort loadValue = 0;
    private string loadMessage;

    private DataFetch dataFetch;


    private void UpdateProgressBar(float value, string message) {
        loadValue = (ushort)value;
        loadMessage = message ?? loadMessage;
        InvokeAsync(StateHasChanged);
    }

    protected override void OnInitialized() {
        base.OnInitialized();
        dataFetch = DataFetchFactory.GetDefault(spotifyModule, UpdateProgressBar);
    }

    private async Task GetData() {
        await dataFetch.GetData(userID)
            .ContinueWith(async (t) => {
                await Task.Delay(2000);
                UpdateProgressBar(0, null);
            });
        using var db = new SpotifyContext();
        userDTO = await db.Users
            .Include(u => u.Playlists)
            .ThenInclude(p => p.Images)

            .Include(u => u.Playlists)
            .ThenInclude(p => p.Tracks)
            .ThenInclude(t => t.Artists)

            .Include(u => u.Playlists)
            .ThenInclude(p => p.Tracks)
            .ThenInclude(t => t.Album)

            .FirstAsync(u => u.ID == userID);
    }

    public async void GetPlaylists() {
        var userData = new UserData(userID);
        await spotify.GetUsersPublicPlaylistsAsync(userData);
        StateHasChanged();
    }

    private async Task GenerateCharts() {
        FullPlaylist PlaylistDTOToFullPlaylist(PlaylistDTO dto) {
            return new FullPlaylist() {
                    Id = dto.ID,
                    Name = dto.Name,
                    SnapshotId = dto.SnapshotID,
                    Owner = new PublicUser() { Id = dto.Owner },
                    Tracks = new Paging<PlaylistTrack<IPlayableItem>>(),
                    Images = []
                };
        }

        if (spotify.UserData.FullPlaylists == null)
            return;
        var getAllTracks = spotify.GetAllTracksAsync(playlistList.GetSelectedPlaylists().Select(p => PlaylistDTOToFullPlaylist(p)));
        var allTracks = await getAllTracks;
        var getAllArtists = spotify.GetAllArtistsAsync(allTracks);
        var buildArtistsSongs = BuildArtistsAsync(allTracks);
        artistsSongs = await buildArtistsSongs;
        StateHasChanged();
        var allArtists = await getAllArtists;
        var buildGenreSongs = BuildGenresAsync(allTracks, allArtists);
        var buildGenres = BuildGenresGeneralAsync(allTracks, allArtists);
        genreSongs = await buildGenreSongs;
        StateHasChanged();
        genres = await buildGenres;
        StateHasChanged();
    }

    private async Task<Elements> BuildArtistsAsync(FullTracks allTracks) {
        Elements BuildArtists() {
            artistsSongs = new Elements();
            foreach (var track in allTracks)
                foreach (var artist in track.Artists)
                    artistsSongs.Increase(new Element { Label = artist.Name, Quantity = 1 });
            return artistsSongs;
        }

        return await Task<Elements>.Run(BuildArtists);
    }

    private async Task<Elements> BuildGenresAsync(FullTracks allTracks, FullArtists allArtists) {
        Elements BuildGenres() {
            genreSongs = new Elements();
            foreach (var track in allTracks)
                foreach (var artist in track.Artists)
                    foreach (var genre in allArtists[artist.Id].Genres)
                        genreSongs.Increase(new Element { Label = genre, Quantity = 1 });
            return genreSongs;
        }

        return await Task<Elements>.Run(BuildGenres);
    }

    private async Task<Elements> BuildGenresGeneralAsync(FullTracks allTracks, FullArtists allArtists) {
        Elements BuildGenresGeneral() {
            var genres = new Elements();
            foreach (var track in allTracks)
                foreach (var artist in track.Artists)
                    foreach (var genre in allArtists[artist.Id].Genres)
                        foreach (string word in genre.ToLower().Split(' ', StringSplitOptions.RemoveEmptyEntries))
                            genres.Increase(new Element { Label = word, Quantity = 1 });
            string[] excludes = { "of", "and", "new", "music" };
            foreach (var exclusion in excludes)
                genres.Extract(exclusion);
            return genres;
        }

        return await Task<Elements>.Run(BuildGenresGeneral);
    }

    private bool areAnyPlaylistsSelected;
    internal void UpdateGenerateButton(bool areAnySelected) {
        if (areAnyPlaylistsSelected != areAnySelected) {
            areAnyPlaylistsSelected = areAnySelected;
            StateHasChanged();
        }
    }

    internal void SelectArtist(string artistName) {
        selectedArtist = spotify.AllArtists.First((a) => a.Name == artistName);
        StateHasChanged();
    }
}
