.mud-button-outlined:hover {
    border-color: white;
}

.mud-input.mud-input-outlined .mud-input-outlined-border {
    border-radius: 9999px;
}

.mud-table-cell {
    padding-top: 8px;
    padding-bottom: 8px;
}

.mud-collapse-entering {
    animation-duration: .2s !important
}