/* MudBlazor overrides */

.mud-button-outlined:hover {
    border-color: white;
}

.mud-input.mud-input-outlined .mud-input-outlined-border {
    border-radius: 9999px;
}

.mud-table-cell {
    padding-top: 8px;
    padding-bottom: 8px;
}

.mud-collapse-entering {
    animation-duration: .2s !important
}

.mud-grid-item > * .mud-toolbar {
    --mud-internal-toolbar-height: !important; /* Fix a bug where toolbar gradually grows and reduce padding */
    padding-bottom: 8px; /* Make up for the lost padding */
}

.marker-table > * td:nth-child(4) { /* The Mark for deletion column */
    background: rgba(155, 155, 255, 0.1);
    text-align: center;
    padding-top: 0;
    padding-bottom: 6px; /* Offset for misaligned checkbox */
}

.marker-table > * td:nth-child(n+5) {
    background: rgba(255, 0, 0, 0.1);
}

/* ApexCharts overrides */

svg > foreignObject { /* pie chart legend */
    height: 100% !important
}

/* Custom */

/*  MudDataGrid Style and Class affect different element than Height - which is actually the one we need - hence this hack
    3/4 * main AppBar + 4/4 DataGrid filter bar (each 64px)*@ .*/
.full-height-table .mud-table-container {
    max-height: calc(100vh - (var(--mud-appbar-height) * 7 / 4));
}

.full-height {
    height: 100%;
}

.full-width {
    width: 100%;
}

.genreLabel {
    width: 100%;
}

.genreRatio {
    width: 70px;
    padding: 0;
}