/* MudBlazor overrides */

.mud-button-outlined:hover {
    border-color: white;
}

.mud-input.mud-input-outlined .mud-input-outlined-border {
    border-radius: 9999px;
}

.mud-table-cell {
    padding-top: 8px;
    padding-bottom: 8px;
}

.mud-collapse-entering {
    animation-duration: .2s !important
}

.mud-grid-item > * .mud-toolbar {
    --mud-internal-toolbar-height: !important; /* Fix a bug where toolbar gradually grows and reduce padding */
    padding-bottom: 8px; /* Make up for the lost padding */
}

/* ApexCharts overrides */

svg > foreignObject { /* pie chart legend */
    height: 100% !important
}

/* Custom */

.full-height {
    height: 100%;
}

.full-width {
    width: 100%;
}