@inherits LayoutComponentBase
@using MudBlazor

<div class="page">
    <MudThemeProvider IsDarkMode=true Theme="Spotify" />
    <MudDialogProvider />
    <MudSnackbarProvider />

    <div class="sidebar pane">
        <NavMenu />
    </div>

    <div class="main pane">
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code {
    MudTheme Spotify = new MudTheme() {
            PaletteDark = new PaletteDark() {
                Primary = new MudBlazor.Utilities.MudColor("#1ed760"),
                Background = Colors.Shades.Black,
                Surface = new MudBlazor.Utilities.MudColor("#242424")
            }
        };
}